<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>BMI Calculator</title>
        <link rel="stylesheet" href="css/style.css">       
    </head>
    <body>
        <h1>BMI Calculator</h1> 
        <div  class="calc">
            <form action="http://localhost:3000/process-bmi-results" method="POST">
                Enter Your Height :
                <input type="text" name="height"/> <br>
                Enter Your Weight: 
                <input type="text" name="weight"/> <br>
                <input onclick= "calculate()" type="button" value="calculate"/> <br>
            </form>   
        </div>
    <script src="/public/calculate.js"></script>     
    </body>  
</html>



